name: CI/CD
on:
  push:
    branches: [ "main" ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push frontend
        run: |
          docker build \
            --build-arg VITE_API_KEY=${{ secrets.VITE_API_KEY }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/movie-devops:${{ github.sha }} \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/movie-devops:latest \
            ./Movie-Finder-REACT---TMDB-API-
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/movie-devops:${{ github.sha }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/movie-devops:latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig --region eu-central-1 --name movie-devops-cluster

      - name: Deploy to EKS
        run: |
          kubectl set image deployment/movie-devops \
            movie-devops=${{ secrets.DOCKERHUB_USERNAME }}/movie-devops:${{ github.sha }}
          kubectl rollout status deployment/movie-devops
